/* макет 1 */

position: relative;
width: 1024px;
height: 993px;

background: #FFFFFF;


/* Jon Snow */

position: absolute;
width: 266px;
height: 69px;
left: 57px;
top: 357px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;

color: #000000;



/* jon_snow 1 */

position: absolute;
width: 192px;
height: 276px;
left: 57px;
top: 66px;

background: url(jon_snow.png);


/* Birth date: 15.08.1986 Birth place: Winterfell, Westeros */

position: absolute;
width: 266px;
height: 51px;
left: 57px;
top: 426px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;

color: #000000;



/* Jon Snow is a fictional character in the A Song of Ice and Fire series of fantasy novels by American author George R. R. Martin, and its television adaptation Game of Thrones, in which he is portrayed by English actor Kit Harington. He is one of the most popular characters in the series, and The New York Times cites him as one of the author's finest creations. Jon is described as having strong Stark features with a lean build, long face, dark brown hair and dark grey eyes. Jon has the surname "Snow" (customarily used for illegitimate noble children in the North) and is resented by Ned's wife Catelyn, who views him as a constant reminder of Ned's infidelity. */

position: absolute;
width: 910px;
height: 108px;
left: 57px;
top: 492px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #000000;



/* Lord Commander at Night Watch Oct 2018 — Dec 2020 Warden of the North at Westeros Jul 2016 — Sep 2018 Brother at Night Watch Jan 2014 — Jun 2016 Winterfell State University Sep 2008 — Jun 2013 Winterfell High School Sep 1999 — May 2008 */

position: absolute;
width: 267px;
height: 311px;
left: 67px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 130%;
/* or 18px */

color: #FF3232;



/* Ellipse 1 */

position: absolute;
width: 5px;
height: 5px;
left: 57px;
top: 689px;

background: #000000;


/* Ellipse 2 */

position: absolute;
width: 5px;
height: 5px;
left: 57px;
top: 724px;

background: #000000;


/* Ellipse 3 */

position: absolute;
width: 5px;
height: 5px;
left: 57px;
top: 761px;

background: #000000;


/* Ellipse 4 */

position: absolute;
width: 5px;
height: 5px;
left: 57px;
top: 850px;

background: #000000;


/* Ellipse 5 */

position: absolute;
width: 5px;
height: 5px;
left: 57px;
top: 887px;

background: #000000;


/* Work experience */

position: absolute;
width: 230px;
height: 36px;
left: 57px;
top: 649px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 130%;
/* or 23px */

color: #000000;



/* Education */

position: absolute;
width: 230px;
height: 36px;
left: 57px;
top: 813px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 130%;
/* or 23px */

color: #000000;

